* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 600px;
  margin: 50px auto;

  button {
    background: #68ba68;
    color: white;
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 190px;
  }

  .headerContainer {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid gray;
  }

  .loadingContainer {
    margin: 72px auto;
    width: 197px;
    color: gray;
    text-transform: uppercase;
    font-size: 0.7rem;
  }

  .jokeContainer {
    margin: 50px 0 0 0;

    .fa-quote-left {
      position: absolute;
      color: gray;
      opacity: 20%;
      font-size: 5rem;
    }
    p {
      padding-top: 25px;
      margin: 0 0 50px 30px;
      font-size: 1.5rem;
    }
    button {
      background: #005a9c;
      width: 140px;
    }

    .punchline {
      p {
        text-align: right;
        margin-top: 60px;
      }
      button {
        background: #1178b4;
      }

      .punchlineText {
        display: flex;
        justify-content: flex-end;
        p {
          position: relative;
          left: 47px;
        }
        .fa-quote-right {
          position: relative;
          color: gray;
          opacity: 20%;
          font-size: 5rem;
          top: 60px;
        }
      }
    }
  }

  .errorContainer {
    p {
      margin: 0 auto;
      color: #bd2522;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}
